{% extends 'blog/main.html' %} {% load crispy_forms_tags %} {% block title %} Share a post {% endblock %} {% block content %}

<div class="container">
    <div class="row">



        {% if sent %}
        <div class="col-md-10"></div>
        <h1>E-mail Successfully sent</h1>
        <p>
            "{{post.title}}" was successfully sent to {{form.cleaned_data.to }}
        </p>
        {% else%}
        <h1>Share "{{ post.title }}" by e-mail</h1>


        <form action="" method="POST">
            {% csrf_token %} {{form|crispy}}

            <input type="submit" value="send e-mail" class=" btn btn-primary">
        </form>


    </div>
    {% endif %}


</div>
</div>

{% endblock %}